# Secrets
.env
.streamlit/secrets.toml


# Generated FAISS database
# Remove this line if you want to upload FAISS manually
faiss_index/


# Python cache
__pycache__/
*.pyc


# Virtual environment
venv/
.venv/


# System files
.DS_Store
